@page "/user"
@using PharamaVisitApp.Services
@inject NavigationManager Navigation
@inject AuthService AuthService

<h1>User</h1>

<a class="btn btn-primary" href="/user/upsert"> Ajouter </a>

@code {
    protected override async Task OnInitializedAsync()
    {
        var token = await AuthService.GetTokenAsync();
        if (string.IsNullOrWhiteSpace(token) || AuthService.IsTokenExpired(token))
        {
            Navigation.NavigateTo("login", true);
        }
    }
}
